<div  class="conatainer">

  <h1 class="d-flex justify-content-center">Answer of the one!</h1>

  <div  class="card p-3 m-4 border-dark">
    <h4><%= @search %></h4> <br>
    <p>---You</p>
  </div>


  <div  class="card p-3 m-4 card text-dark border-warning">
     <h4><%= @answer %></h4><br>
    <p>----Your coach</p>
  </div>
</div>
