

<div class="card p-4 m-5">
  <h1 class="text-center">Hello There!</h1>
  <p class="text-center">Ask your questions to the allmitgth one!</p>
  <div class="d-flex justify-content-center">
      <form action="answer">
        <input type="text" name="question">
        <input type="submit" value="Ask!">
      </form>
  </div>
</div>
